
<div class="footer">
  <div class="wrapper">
  <div class="footer__units-container">
  <div class="footer__unit">
    <a href="" class="header__logo"><img src="assets/img/logo-dark.svg" alt="CreateX logo"></a>
  </div>
  <div class="footer__unit"><h6>site map</h6></div>
  <div class="footer__unit"><h6>courses</h6></div>
  <div class="footer__unit"><h6>contact us</h6></div>
  <div class="footer__unit"><h6>sign up to our newsletter</h6></div>
  <div class="footer__unit">
    <p>Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country.</p>
  </div>
  <div class="footer__unit"><a href="" class="footer__link">About Us</a></div>
  <div class="footer__unit"><a href="" class="footer__link">Marketing</a></div>
  <div class="footer__unit footer__unit_with-icon">
    <a href="tel:+" class="footer__link"><img src="assets/img/icons/phone-gray.svg" alt="">(405) 555-0128</a>
  </div>
  <div class="footer__unit">
    <div class="footer__email-input">
      <form action="">
        <input type="email" placeholder="Email addres"><button type="submit" class="">
          <img src="assets/img/icons/right.svg" alt="">
      </button>
      <span>*Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.</span>
      </form>
    </div>
  </div>
  <div class="footer__unit"><a href="" class="footer__link">Courses</a></div>
  <div class="footer__unit"><a href="" class="footer__link">Management</a></div>
  <div class="footer__unit footer__unit_with-icon">
    <a href="mailto:hello@createx.com" class="footer__link"><img src="assets/img/icons/mail.svg" alt="">hello@createx.com</a>
  </div>
  <div class="footer__unit"><a href="" class="footer__link">Events</a></div>
  <div class="footer__unit"><a href="" class="footer__link">HR & Recruting</a></div>
  <!-- <div class="footer__unit">
    <span>*Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.</span>
  </div> -->
  <div class="footer__unit footer__unit-social">
    <a *ngFor="let item of socials" href="" class="contact-info__socials-unit" [inlineSVG]="'assets/img/socials/' + item + '.svg'"></a>
  </div>
  <div class="footer__unit"><a href="" class="footer__link">Blog</a></div>
  <div class="footer__unit"><a href="" class="footer__link">Design</a></div>
  <div class="footer__unit"><a href="" class="footer__link">Contacts</a></div>
  <div class="footer__unit"><a href="" class="footer__link">Development</a></div>
</div>



</div>
<div class="sub-footer">
  <div class="wrapper">
    <div class="sub-footer__container">
      <div class="sub-footer__sign">© All rights reserved. Made with <span><img src="assets/img/icons/heart.svg" alt=""></span> by Createx Studio </div>
      <div class="sub-footer__upper">GO TO UP</div>
    </div>
  </div>
</div>
</div>
