<div class="wrapper">
<section class="contacts">
  <div class="contact-info">
    <header class="contact-info__title title">
      <h6>contact info</h6>
      <h1>Get in touch</h1>
    </header>
     <div class="contact-info__block">
    <div class="contact-info__group">
      <div class="contact-info__icon">
        <img src="assets/img/icons/chat.svg" alt="Chat icon"></div>
      <div class="contact-info__subgroup">
        <p>Talk to us:</p>
        <a [href]="'mailto:'+email"> {{email}} </a>
      </div>
     </div>
     <div class="contact-info__group">
      <div class="contact-info__icon">
          <img src="assets/img/icons/phone.svg" alt="phone icon"></div>
      <div class="contact-info__subgroup">
        <p>Call us:</p>
        <a [href]="'tel:+'+ phoneNumber"> {{phoneNumber}} </a>
      </div>
     </div>
     <div class="contact-info__group">
      <div class="contact-info__icon">
          <img src="assets/img/icons/outline.svg" alt="Outline icon">
      </div>
      <div class="contact-info__subgroup">
        <p>Addres:</p>
        <a href=""> {{adress}} </a>
      </div>
     </div>
    </div>
     <div class="contact-info__title title">
      <h6>follow us:</h6>
      <div class="contact-info__socials-container">
        <a *ngFor="let item of socials" href="" class="contact-info__socials-unit" [inlineSVG]="'assets/img/socials/' + item + '.svg'"></a>
      </div>
     </div>
  </div>
  <div class="map">
    <img src="assets/img/map.png" alt="">
  </div>
</section>
<section class="contact-form">
  <img src="assets/img/illust.webp" alt="">
  <div class="contact-form__container">
    <header class="title">
      <h6>any questions?</h6>
      <h1>Drop us a line</h1>
    </header>
    <form action="" class="form">
      <div class="form__group">
        <label for="first-name">First Name*</label>
        <input type="text" name="first-name" placeholder="Your first name">
      </div>
      <div class="form__group">
        <label for="last-name">Last Name*</label>
        <input type="text" name="last-name" placeholder="Your last name">
      </div>
      <div class="form__group">
        <label for="mail">Email*</label>
        <input type="email" name="mail" placeholder="Your working email">
      </div>
      <div class="form__group">
        <label for="phone">Phone</label>
        <input type="tel" name="phone" placeholder="Your phone number">
      </div>
      <div class="form__group">
        <label for="message">Message*</label>
        <textarea name="message" placeholder="Your message"></textarea>
      </div>
      <div class="form__group form__group_horizontal">
        <label class="check">
          <input class="check__input" type="checkbox" checked>
          <span class="check__box"></span> I agree to receive communications from Createx Online School
        </label>
      </div>
      <div class="form__group">
        <input type="submit" value="Send message">
      </div>
    </form>
  </div>
</section>
</div>
