<div class="auth-modal-window">
  <div class="cross-btn"><img src="./assets/img/cross.svg" alt="Close"></div>
  <h3>Sign Up</h3>
  <p>Registration takes less than a minute but gives you full control over your studying.</p>
  <form action="" class="form">
    <div class="form__group">
      <label for="Name">Full Name</label>
      <input type="text" name="Name" placeholder="Your full name">
    </div>
    <div class="form__group">
      <label for="mail">Email</label>
      <input type="email" name="mail" placeholder="Your working email">
    </div>
    <div class="form__group">
      <label for="pass">Password</label>
      <input [type]="isHiddenPassword ? 'password' : 'text'" name="pass">
      <div id="password-eye" (click)="isHiddenPassword = !isHiddenPassword">
        <img [src]="isHiddenPassword ? pathEyes : pathClosedEyes" width="16px" height="16px" alt="">
      </div>
    </div>
    <div class="form__group">
      <label for="conf-pass">Confirm Password</label>
      <input [type]="isHiddenConfPassword ? 'password' : 'text'" name="conf-pass">
      <div id="conf-password-eye" (click)="isHiddenConfPassword = !isHiddenConfPassword">
        <img [src]="isHiddenConfPassword ? pathEyes : pathClosedEyes" width="16px" height="16px" alt="">
      </div>
    </div>
    <div class="form__group form__group_horizontal">
      <label class="check">
        <input class="check__input" type="checkbox" checked>
        <span class="check__box"></span> Remember me
      </label>
    </div>
    <div class="form__group">
      <input type="submit" value="Sign Up">
    </div>
    <div class="form__group">
      <span>Already have an account?<a href="">Sign in</a></span>
    </div>
  </form>
  <div class="divider"></div>
  <div class="socials">
    <div class="socials__title">Or sign in with</div>
    <ul class="socials__list">
      <li *ngFor="let item of socials">
        <a href="" [inlineSVG]="'./assets/img/socials/' + item + '.svg'"></a>
      </li>
    </ul>
  </div>
</div>
