
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont{
  width: 390px;
}
.wrapper{
  width: 1230px;
  margin: 0 auto;
}
.cards-table{
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

.blog-title{
  color: #1E212C;
  margin-bottom: 60px;
  margin-top: 80px;
  h1{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
  }
  h6{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
}

.card {
  grid-column: span 3;
  &:nth-child(4){
    grid-column: span 5;
  }&:nth-child(5){
    grid-column: span 4;
  }
}
.subs{
  margin-top: 180px;
}
.toolbar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  .tab-bar{
    display: flex;

    .tab-unit{
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: center;
      color: #9A9CA5;
      padding: 10px 20px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      cursor: pointer;
      mat-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        ::ng-deep svg {
          width: 16px;
          height: 16px;
          fill: #9A9CA5;
        }
      }

    }
    .active.tab-unit{
      color: var(--red-color);
      border: 1px solid var(--red-color);

      mat-icon{
        ::ng-deep svg {
          fill: var(--red-color);
        }
    }
  }
}
.toolbar-group{
  display: flex;
  align-items: center;
}
.blog-category-select-box{
  display: flex;
  align-items: center;
  margin-right: 40px;
  p{
    font-weight: 700;
    color: #424551;
    font-size: 16px;
    line-height: 160%;
    margin-right: 12px;
  }
  .select{
    width: 160px;
    height: 44px;
  }
}
.searchbar{
  height: 44px;
  width: 285px;
}
}

.pagination {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  .pag-unit{
    margin-right: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    cursor: pointer;
    mat-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      }
      ::ng-deep svg {
        width: 18px;
        height: 18px;
        fill:#424551;;
      }
  }
  .pag-unit.active{
    color: var(--red-color);
  }
}
