
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont{
  width: 390px;
}
.wrapper{
  width: 1230px;
  margin: 0 auto;
}
.cards-table{
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

.blog-title{
  color: #1E212C;
  margin-bottom: 60px;
  margin-top: 80px;
  h1{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
  }
  h6{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
}

.card {
  grid-column: span 3;
  &:nth-child(4){
    grid-column: span 5;
  }&:nth-child(5){
    grid-column: span 4;
  }
}

