 <div class="wrapper">
  <header class="blog-title">
    <h6>Our blog</h6>
    <h1>Createx School Journal</h1>
  </header>
  <div class="cards-table">
    <app-blog-post-card [Data]="card1" class="card"></app-blog-post-card>
    <app-blog-post-card [Data]="card2" class="card"></app-blog-post-card>
    <app-blog-post-card [Data]="card3" class="card"></app-blog-post-card>
    <app-blog-post-card [Data]="card4" class="card"></app-blog-post-card>
    <app-blog-post-card [Data]="card5" class="card"></app-blog-post-card>
    <app-blog-post-card [Data]="card6" class="card"></app-blog-post-card>
    <app-blog-post-card [Data]="card7" class="card"></app-blog-post-card>
    <app-blog-post-card [Data]="card8" class="card"></app-blog-post-card>
  </div>

 </div>

