<div class="subscribe-back">
  <div class="wrapper">
    <div class="subscribe">
      <img src="./assets/img/subscribe.png" alt="">
      <div class="subsrive__form">
        <div class="title">
          Want to get the best articles weekly? Subscribe to our newsletter!
        </div>
        <form action="">
          <div class="block">
            <input type="email" placeholder="Your working email">
            <button type="submit">Subscribe</button>
          </div>
          <div class="block">
            <label class="check">
              <input class="check__input" type="checkbox" checked>
              <span class="check__box"></span> I agree to receive communications from Createx Online School
            </label>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
