<div class="auth-modal-window">
  <div class="cross-btn" [matDialogClose]><img src="assets/img/cross.svg" alt="Close"></div>
  <h3>Sign In</h3>
  <p>Sign in to your account using email and password provided during registration.</p>
  <form action="" class="form">
    <div class="form__group">
      <label for="mail">Email</label>
      <input type="email" name="mail" placeholder="Your working email">
    </div>
    <div class="form__group">
      <label for="pass">Password</label>
      <input [type]="isHiddenPassword ? 'password' : 'text'" name="pass">
      <div id="password-eye" (click)="isHiddenPassword = !isHiddenPassword">
        <img [src]="isHiddenPassword ? pathEyes : pathClosedEyes" width="16px" height="16px" alt="">
      </div>
    </div>
    <div class="form__group form__group_horizontal">
      <label class="check">
        <input class="check__input" type="checkbox" checked>
        <span class="check__box"></span> Keep me signed in
      </label>
      <a href="">Forgot password?</a>
    </div>
    <div class="form__group">
      <input type="submit" value="Sign In">
    </div>
    <div class="form__group">
      <span>Don't have an account?<a href="">Sign up</a></span>
    </div>
  </form>
  <div class="divider"></div>
  <div class="socials">
    <div class="socials__title">Or sign in with</div>
    <ul class="socials__list">
      <li *ngFor="let item of socials">
        <a href="" [inlineSVG]="'assets/img/socials/' + item + '.svg'"></a>
      </li>
    </ul>
  </div>
</div>
