<div class="header">
  <a href="" class="header__logo"><img src="./assets/img/logo.svg" alt="CreateX logo"></a>
  <nav class="header__navbar">
    <ul>
      <li><a href="">About Us</a> </li>
      <li><a href="">Courses</a></li>
      <li><a href="">Events</a></li>
      <li><a href="">Blog</a></li>
      <li class="active"><a href="">Contacts</a></li>
    </ul>
  </nav>
  <button class="button">Get consultation</button>
  <a href="" class="header__auth"><img src="./assets/img/icons/person.svg" alt=""> Log In / Regiser</a>
</div>

