<div class="wrapper">
<div class="header">
  <a href="" class="header__logo"><img src="assets/img/logo.svg" alt="CreateX logo"></a>
  <nav class="header__navbar">
    <ul>
      <li><a href="">About Us</a> </li>
      <li><a href="">Courses</a></li>
      <li><a href="">Events</a></li>
      <li><a routerLink="single-post">Blog</a></li>
      <li class="active"><a routerLink="contacts">Contacts</a></li>
      <li><a routerLink="charts">Charts</a></li>
    </ul>
  </nav>
  <button class="button">Get consultation</button>
  <button class="header__auth" (click)="openLogIn()"><img src="assets/img/icons/person.svg"> Log In</button> /
  <button class="header__auth" (click)="openRegister()">Register</button>
</div>
</div>
