.wrapper{
  width: 1230px;
  margin: 0 auto;
}
.header{
  height: 52px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  .header__navbar{
    ul{
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      li{
        margin-right: 40px;
        font-size: 16px;
        font-weight: 700;
        line-height: 160%;
        a {
          text-decoration: none;
          color: var(--def-font-color);
        }
        &:last-child{
          margin-right: 0px;
        }
        &.active{
          a{color: var(--red-color);}
        }
      }
    }
    margin-right: 140px;
    margin-left: 60px;
  }
  .button{
    border: none;
    color: #fff;
    padding: 0 40px;
    font-size: 16px;
    line-height: 52px;
    border-radius: 4px;
    background: linear-gradient(55.95deg, var(--red-color) 0%, #F75E05 100%);
    cursor: pointer;
    margin-right: 15px;
    &:active{
      transform: translateY(1px);
    }
  }
  .header__auth{
    text-decoration: none;
    border:none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: var(--def-font-color);
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    justify-content: space-between;
    img{
      margin-right: 5px;
    }
  }
}
::ng-deep .authModal {
  .mat-dialog-container{padding: 0;}
}
